@import "../varibales.scss";

.scrolls {
  isolation: isolate;
  z-index: 3;
  position: fixed;
  top: 70px;
  left: 20px;
  background-color: $bg-color-dark;
  color: $txt-color-dark;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 5px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  .scrolls__wrapper {
    display: flex;
    div {
      padding: 2px 6px;
      border-right: 1.5px solid gray;
      &:last-child {
        border-right: none;
      }
      a {
        opacity: 0.7;
        transition: opacity 0.2s ease-in-out;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.iframe_container {
  padding: 0 20px;
  margin: 0 auto 30px;
  display: flex;
  justify-content: center;
}

.contents__container {
  width: 100%;
  margin-top: 40px;
  padding: 0 30px 40px;
  .content {
    margin: 0 auto 60px;
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transition-delay: 0.5s;
    &.show {
      transform: translateY(0);
      opacity: 1;
      .content__txts {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
}

.content__container {
  display: flex;
  gap: 20px;
  justify-content: center;
  .img_container {
    max-width: 600px;
    img {
      width: 100%;
    }
    &.alliances {
      border: none;
      border-radius: 25px;
      overflow: hidden;
      opacity: 0.95;
      transition: opacity 0.2s ease-in-out;
      &:hover {
        opacity: 1;
      }
    }
  }
  .content__txts {
    padding: 20px 0;
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transition-delay: 1s;
    .content__txt {
      margin-bottom: 15px;
    }
    .content__txt:first-child {
      margin-bottom: 25px;
      p {
        font-size: 14px;
      }
    }
    .content__txt:not(:first-child) p {
      font-size: 12px;
    }
    p {
      line-height: 26px;
    }
  }

  &.officers {
    flex-direction: column;
    align-items: center;
    .img_container {
      display: flex;
      gap: 20px;
      max-width: 90vw;
      .img__officer {
        position: relative;
        width: 400px;
        img {
          width: 100%;
          opacity: 1;
          transition: opacity 0.3s ease-in-out;
        }
        p {
          font-size: 18px;
          line-height: 28px;
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          font-weight: bold;
          opacity: 0;
          transition: opacity 0.3s ease-in-out;
        }
        &:hover,
        &:focus {
          img {
            opacity: 0.4;
          }
          p {
            opacity: 1;
          }
        }
      }
    }
  }

  &.kvk_history {
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
    .iframe_container {
      margin: 0;
      padding: 0;
    }
  }

  &.nineth_kvk {
    align-items: center;
    margin: 0 auto;
    position: relative;
    width: 780px;
    img,
    .nineth_kvk__txt_container {
      transition: opacity 0.25s ease-in-out;
    }
    img {
      width: 100%;
      opacity: 0.2;
    }
    .nineth_kvk__txt_container {
      color: black;
      margin: 0;
      max-width: 400px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      opacity: 1;
      span {
        margin-top: -20px;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
      }
      h1 {
        line-height: 42px;
      }
      h3 {
        line-height: 24px;
      }
    }
    &:hover,
    &:focus {
      img {
        opacity: 1;
      }
      .nineth_kvk__txt_container {
        opacity: 0;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .scrolls {
    background-color: $bg-color-light;
    color: $txt-color-light;
  }
  .img__officer p span:not(:first-child) {
    color: white;
  }
  .content__container.nineth_kvk .nineth_kvk__txt_container {
    color: white;
  }
}

@media screen and (max-width: 1170px) {
  .content:first-child .content__container {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 920px) {
  .content:nth-child(2) .content__container .img_container {
    display: grid;
    grid-template-columns: 1fr;
    .img__officer {
      width: 100%;
      max-width: 550px;
    }
  }
  .content:last-child .content__container {
    flex-direction: column;
    .iframe_container {
      width: 100%;
    }
  }

  .content__container.nineth_kvk {
    width: 540px;
  }
}

@media screen and (max-width: 620px) {
  .content__container.nineth_kvk {
    width: 380px;
    .nineth_kvk__txt_container span {
      margin-top: -5px;
    }
  }
}

@media screen and (max-width: 480px) {
  .content__container.nineth_kvk {
    width: 310px;
  }
}
