@import "../varibales.scss";

.iframe_container {
  padding: 0 20px;
  margin: 0 auto 30px;
  display: flex;
  justify-content: center;
}

.contents__container {
  width: 100%;
  margin-top: 40px;
  padding: 0 30px 40px;
  .content {
    margin: 0 auto 60px;
    /*
    display: flex;
    flex-direction: column;
    align-items: center;
    */
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transition-delay: 0.5s;
    &.show {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.content__container {
  display: flex;
  gap: 20px;
  justify-content: center;
  .img_container {
    max-width: 600px;
    img {
      width: 100%;
    }
  }
  .content__txts {
    padding: 20px 0;
    .content__txt {
      margin-bottom: 15px;
    }
    .content__txt:first-child {
      margin-bottom: 25px;
      p {
        font-size: 14px;
      }
    }
    .content__txt:not(:first-child) p {
      font-size: 12px;
    }
    p {
      line-height: 26px;
    }
  }

  &.officers {
    flex-direction: column;
    align-items: center;
    .img_container {
      display: flex;
      gap: 20px;
      max-width: 90vw;
      .img__officer {
        position: relative;
        width: 400px;
        img {
          width: 100%;
          opacity: 1;
          transition: opacity 0.3s ease-in-out;
        }
        p {
          font-size: 18px;
          line-height: 28px;
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          font-weight: bold;
          opacity: 0;
          color: $txt-color-light;
          transition: opacity 0.3s ease-in-out;
        }
        &:hover,
        &:focus {
          img {
            opacity: 0.4;
          }
          p {
            opacity: 1;
          }
        }
      }
    }
  }

  &.kvk_history {
    align-items: center;
    justify-content: flex-start;
    .iframe_container {
      margin: 0;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .img__officer p {
    color: $txt-color-dark;
  }
}

@media screen and (max-width: 1170px) {
  .content:first-child .content__container {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 920px) {
  .content:nth-child(2) .content__container .img_container {
    display: grid;
    grid-template-columns: 1fr;
    .img__officer {
      width: 100%;
      max-width: 550px;
    }
  }
}
