@import "../varibales.scss";

.troop_type_btns {
  margin-left: 30px;
  display: flex;
  gap: 10px;
  align-items: center;
  button {
    all: unset;
    width: 60px;
    background-color: $bg-color-dark;
    color: $txt-color-dark;
    text-align: center;
    padding: 13px 10px;
    border: none;
    border-radius: 6px;
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
    &:hover {
      opacity: 1;
    }
    &.active {
      font-weight: bold;
    }
  }
}

.commanders_list__container {
  margin-top: 40px;
  &.loaded {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 25px;
  }
}

@media screen and (max-width: 540px) {
  .commanders_list__container.loaded {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 35px;
  }
}

@media (prefers-color-scheme: dark) {
  .troop_type_btns {
    button {
      background-color: $bg-color-light;
      color: $txt-color-light;
    }
  }
}
