@import "../varibales.scss";

.home__kings_message {
  margin: 0 auto;
  width: 40%;
  height: 50px;
  border: none;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  background-color: $color-captain;
  overflow: hidden;
  text-overflow: ellipsis;
  .kings_message__emoji {
    font-size: 20px;
    margin-right: 7px;
  }
  .kings_message__txt {
    font-weight: bold;
    color: $txt-color-light;
  }
}
