.resource__grid_container {
  margin: 0 auto;
  max-width: 960px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  row-gap: 30px;
}
@media screen and (max-width: 780px) {
  .resource__grid_container {
    grid-template-columns: repeat(1, 1fr);
  }
}
