@import "../varibales.scss";

.container {
  margin-top: -50px;
  width: 100vw;
  padding: 70px 320px 30px;
  min-height: 75vh;
  background-color: $bg-color-dark;
  color: $txt-color-dark;
}
@media screen and (max-width: 1080px) {
  .container {
    padding: 70px 240px 30px;
  }
}
@media screen and (max-width: 780px) {
  .container {
    padding: 70px 70px 30px;
  }
}

.skill {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-bottom: 20px;
}

.details,
.note {
  font-size: 12px;
}

@media (prefers-color-scheme: dark) {
  .container {
    background-color: $bg-color-light;
    color: $txt-color-light;
  }
}

@media screen and (max-width: 480px) {
  .details,
  .note {
    font-size: 10px;
  }
}
