@import "../varibales.scss";

.title_container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  align-items: center;
  margin-bottom: 30px;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  div:first-child div {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-color: $bg-color-dark;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    transition: opacity 0.3s ease-in-out;
    &:hover {
      opacity: 1;
    }
    p {
      color: $txt-color-dark;
    }
  }
  div:nth-child(2) {
    h1,
    h2 {
      margin: 0;
    }
  }
}

.commander_images {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.talent_icons {
  display: flex;
  align-items: center;
  z-index: 3;
}

.talent_icon {
  display: flex;
  align-items: center;
  img {
    width: 28px;
  }
  span {
    z-index: -1;
    margin-left: -10px;
    font-size: 12px;
    font-weight: bold;
    background-color: $bg-color-light;
    padding: 3px 6px 3px 10px;
    border: none;
    border-radius: 5px;
    color: $txt-color-light;
  }
}

@media (prefers-color-scheme: dark) {
  .title_container div:first-child div {
    background-color: $bg-color-light;
    p {
      color: $txt-color-light;
    }
  }

  .talent_icon {
    span {
      background-color: $bg-color-dark;
      color: $txt-color-dark;
    }
  }
}
