@import "../varibales.scss";

.footer__container {
  margin-top: 50px;
  padding: 20px 50px;
  background-color: $bg-color-dark;
  color: $txt-color-dark;
  &.sc {
    text-align: center;
    .footer__title_wrapper {
      h4 {
        font-size: 10px;
        span {
          font-size: 14px;
        }
      }
    }
    .footer__front_message {
      line-height: 14px;
      font-size: 10px;
    }
    .footer__copyrights {
      span {
        font-size: 8px;
      }
      span:first-child {
        font-size: 10px;
      }
    }
  }
}
.footer__title_wrapper {
  margin-bottom: 10px;
  h4 {
    font-weight: bold;
    font-size: 12px;
    span {
      color: orange;
      font-size: 18px;
    }
  }
}

.footer__front_message {
  opacity: 0.8;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  line-height: 17px;
}

.footer__copyrights {
  display: flex;
  flex-direction: column;
  gap: 4px;
  span {
    font-size: 12px;
    opacity: 0.6;
  }
  span:first-child {
    font-size: 14px;
    opacity: 0.8;
  }
}

.footer__link {
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  .footer__container {
    background-color: $bg-color-light;
    color: $txt-color-light;
  }
}
