.description {
  font-size: 14px;
  line-height: 18px;
  text-indent: 2px;
  text-align: justify;
}

@media screen and (max-width: 480px) {
  .description {
    font-size: 10px;
    line-height: 14px;
  }
}
