@import "./varibales.scss";

.ct_btn {
  all: unset;
  display: flex;
  background-color: $bg-color-dark;
  color: $txt-color-dark;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.ct_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  &.troop_power {
    label {
      width: 30px;
    }
  }
  &.resource {
    label {
      width: 90px;
    }
  }
  .ct_form__input_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    &.resource {
      width: 250px;
    }

    label {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-weight: bold;
    }

    input {
      all: unset;
      width: 140px;
      background-color: white;
      padding: 3px 5px;
      color: $txt-color-light;
      text-align: center;
      border: none;
      border-radius: 3px;
      border: 2px solid transparent;
      transition: border 0.3s ease-in-out;
      position: relative;
      &:focus {
        border: 2px solid orange;
      }
    }
  }
  input[type="submit"] {
    all: unset;
    background-color: $bg-color-dark;
    color: $txt-color-dark;
    height: 30px;
    padding: 0 10px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
  }
}

.ct_cal_result {
  display: flex;
  justify-content: center;
  p {
    span {
      font-weight: bold;
      color: $color-green;
    }
  }
}

.message_box {
  width: 330px;
  height: 40px;
  margin: 0 auto 10px;
  background-color: $color-green;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
}

@media (prefers-color-scheme: dark) {
  .ct_btn {
    background-color: $bg-color-light;
    color: $txt-color-light;
  }
  .ct_form {
    input[type="submit"] {
      background-color: $bg-color-light;
      color: $txt-color-light;
    }
  }
}
@media (prefers-color-scheme: light) {
  .ct_btn {
    background-color: $bg-color-dark;
    color: $txt-color-dark;
  }
  .ct_form {
    input[type="submit"] {
      background-color: $bg-color-dark;
      color: $txt-color-dark;
    }
  }
}
