@import "./varibales.scss";

.ct_btn {
  all: unset;
  display: flex;
  background-color: $bg-color-dark;
  color: $txt-color-dark;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  font-size: 12px;
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.ct_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  &.troop_power {
    label {
      width: 30px;
    }
  }
  &.resource {
    label {
      width: 90px;
    }
  }
  &.add_event {
    label {
      width: 120px;
    }
  }

  .ct_form__input_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    &.resource {
      width: 250px;
    }

    label {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
    }

    input {
      all: unset;
      width: 140px;
      background-color: white;
      padding: 3px 5px;
      color: $txt-color-light;
      text-align: center;
      border: none;
      border-radius: 3px;
      border: 2px solid transparent;
      transition: border 0.3s ease-in-out;
      position: relative;
      &:focus {
        border: 2px solid orange;
      }
    }
  }
  input[type="submit"] {
    all: unset;
    background-color: $bg-color-dark;
    color: $txt-color-dark;
    height: 30px;
    padding: 0 10px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
  }
}

.ct_form.hp {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 25px;
    margin-bottom: 10px;
    .ct_form__input_section {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}
@media screen and (max-width: 830px) {
  .ct_form.hp .grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

.ct_cal_result {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  p {
    span {
      font-weight: bold;
      color: $color-green;
    }
  }
}

.message_box {
  z-index: 3;
  isolation: isolate;
  position: fixed;
  top: 10px;
  left: 30vw;
  width: 40vw;
  padding: 5px 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: $color-green;
  text-align: center;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  animation: appearMessageBox 3s ease-in-out forwards;
}
@keyframes appearMessageBox {
  0% {
    transform: translateY(-40px);
  }
  15% {
    transform: translateY(0);
  }
  85% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-40px);
  }
}

.ct_langmode_btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 80px;
  height: 30px;
  border: none;
  border-radius: 3px;
  background-color: rgba($color: #ffffff, $alpha: 0.7);
  color: $txt-color-light;
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  .ct_btn {
    background-color: $bg-color-light;
    color: $txt-color-light;
  }
  .ct_form {
    input[type="submit"] {
      background-color: $bg-color-light;
      color: $txt-color-light;
    }
  }
}
@media (prefers-color-scheme: light) {
  .ct_btn {
    background-color: $bg-color-dark;
    color: $txt-color-dark;
  }
  .ct_form {
    input[type="submit"] {
      background-color: $bg-color-dark;
      color: $txt-color-dark;
    }
  }
}

.n70s {
  color: $color-n70s;
}
.n70d {
  color: $color-n70d;
}
.captain {
  color: $color-captain;
}
